{% extends "emails/base_email.html" %}

{% block subject %}Password Reset for LeadSathi{% endblock %}

{% block content %}
<h2>Reset Your Password</h2>

<p>Hello,</p>

<p>You're receiving this email because you requested a password reset for your user account at LeadSathi.</p>

<p>Please click the button below to choose a new password:</p>

<div class="button-container">
    <a href="{{ password_reset_url }}" class="button">Reset Password</a>
</div>

<p>If you didn't request this, you can safely ignore this email. Your password won't change until you create a new one.</p>

<p>Thanks,<br>The LeadSathi Team</p>
{% endblock %}
